@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

/* ALL */

body{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color: black;
}


#main-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 200px;
    margin-bottom: 25px;
    align-items: center;
    align-content: center;
}

.main_title{
    font-size: 4em;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    margin: 4% 0 0 0;
    color: white;
}

.container{
    display: inline-block;
    width: 30%;
    border: white 5px solid;
    border-radius: 20px;
}

#pokemon_container{
    background-color: #C00D0D;
    margin-left: 1%;
    padding: 3%;
}

.title{
    width: 100%;
    display: block;
    margin: auto;
}

#digimon_container{
    background-color: #2C71B8;
    margin-right: 1%;
    padding: 2% 3%;
}

#vs{
    width: 80%;
}

/* POKEDEX.HTML */

.dex{
    display: none;
}

.dex_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 6% 10% 6% 10%;
}

#pokedex_details{
    display: none;
    text-align: left;
    margin-left: 10%;
    color: white;
    font-family: sans-serif;
    font-size: 1.1em;
    width: 100%;
}

.dex_name{
    text-align: center;
    color: white;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.2em;
    margin-bottom: 0;
    width: 100%;
}

.dex_main{
    width: 60%;
    margin: auto;
}

.dex_img{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    text-align: center;
    display: block;
    margin: auto;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin: 0 30%;
}

.button_right{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 15px solid transparent;
    cursor: pointer;
}

#pokemon_right{
    border-left: 25px solid #2C71B8;
}
#digimon_right{
    border-left: 25px solid #C00D0D;
}

.button_left{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 15px solid transparent;
    cursor: pointer;
}

#pokemon_left{ 
    border-right: 25px solid #2C71B8;
}
#digimon_left{
    border-right: 25px solid #C00D0D;
}

.button_center{
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background: #FFCB05;
    cursor: pointer;
}

#infos{
    color: white; 
    font-size: 3em; 
    cursor: pointer;
}

#letsgo{
    color: white;
    background-color: green;
    text-decoration: none;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.5em;
    padding: 15px 100px;
    border-radius: 10px;
    display: none;
}

@media (max-width: 1000px){

    #main-container{
        flex-direction: column;
    }

    .container{
        width: 75%;
        padding: 1%;
        margin-bottom: 50px;
    }

    #vs{
        margin-bottom: 50px;
    }

}

/* FIGHT */

.sentences{
    font-size: 3em;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    margin: 4% 0 0 0;
    color: white;
    margin-top: 100px;
}

#final_sentence{
    font-size: 4em;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    margin: 4% 0 0 0;
    color: blue;
    margin-top: 100px;
    margin-bottom: 100px;
}

#return{
    color: white;
    background-color: grey;
    text-decoration: none;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.5em;
    padding: 15px 100px;
    border-radius: 10px;
}
